<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Database</title>
    <link rel="stylesheet" th:href="@{~/styles.css}"></link>
</head>

<body>
<nav>
<ul>
<li><a href="/products/">Home</a></li>
<li><a href="/products/all">Show all products</a></li>
<li><a href="/products/add">Add new Product</a></li>
<li><a href="/products/edit">Edit product</a></li>
<li><a href="/products/delete">Delete product</a></li>
<li><a href="/products/filter">Filter products by price</a></li>
</ul>
</nav>
<h1>Login</h1>
<div th:if="${param.created}" class="success">    
	Account has been created. You can now login.
</div>
<form th:method="POST" th:action="@{/users/login}" >
	<div>
		<label for="name">Name</label>
		<input type="text" id="username" name="username" >
		<span   class="error"></span>
	</div>
  <div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" >
		<span   class="error"></span>
	</div>
	<div th:if="${param.error}" class="error">    
		Invalid username or password.
	</div>
	<div>
		<button>Login</button>
	</div>
</form>
</body>

</html>