<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Database</title>
    <link rel="stylesheet" th:href="@{~/styles.css}"></link>
</head>

<body>
<nav>
<ul>
<li><a href="/products/">Home</a></li>
<li><a href="/products/all">Show all products</a></li>
<li><a href="/products/add">Add new Product</a></li>
<li><a href="/products/edit">Edit product</a></li>
<li><a href="/products/delete">Delete product</a></li>
<li><a href="/products/filter">Filter products by price</a></li>
<li sec:authorize="isAnonymous()"><a href="/users/signup">Signup</a></li>
<li sec:authorize="isAuthenticated()"><a href="/users/logout" class="active">Logout</a></li>
</ul>
</nav>
<h1 sec:authorize="isAnonymous()" class="error">You are not logged in</h1>
<h1 sec:authorize="isAuthenticated()">You are logged in as a <span sec:authentication="name"></span></h1>
<h1>Are you sure you want to logout?</h1>
<form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/users/logout}" >
	<div>
		<button>Logout</button>
	</div>
</form>
</body>

</html>