<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Database</title>
    <link rel="stylesheet" th:href="@{~/styles.css}"></link>
</head>

<body>
<nav>
<ul>
<li><a href="/products/">Home</a></li>
<li><a href="/products/all">Show all products</a></li>
<li><a href="/products/add">Add new Product</a></li>
<li><a href="/products/edit">Edit product</a></li>
<li><a href="/products/delete">Delete product</a></li>
<li><a href="/products/filter">Filter products by price</a></li>
<li sec:authorize="isAnonymous()"><a href="/users/signup">Signup</a></li>
<li sec:authorize="isAuthenticated()"><a href="/users/logout">Logout</a></li>
</ul>
</nav>
<h1>Sorry, but the product with such ID does not exist</h1>
</body>

</html>